@if (modalService.modal) {
    <div class="abrir-modal animation fadeIn">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ titulo }}</h5>
                  <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                @if (cliente) {
                                    <ul class="list-group text-dark">
                                        <li class="list-group-item active"> {{ cliente.nombre }} </li>
                                        <li class="list-group-item"> {{ cliente.apellido }} </li>
                                        <li class="list-group-item"> {{ cliente.email }} </li>
                                        <li class="list-group-item"> {{ cliente.createAt | date: "fullDate" }} </li>
                                    </ul>
                                }
                                <div class="input-group my-2 mb-3">
                                    <input 
                                        (change)="seleccionarFoto($event)" 
                                        type="file" 
                                        class="form-control" 
                                        id="input-seleccionar-foto" 
                                        aria-describedby="seleccionar-foto" 
                                        aria-label="Seleccionar">
                                        @if (fotoSeleccionada) {
                                            <button 
                                                (click)="subirFoto()" 
                                                class="btn btn-outline-primary" 
                                                type="button" 
                                                id="seleccionar-foto">Subir foto</button>
                                        }
                                </div>
        
                                @if (progreso > 0) {
                                    <div class="progress">
                                        <div 
                                            aria-label="progreso"
                                            class="progress-bar progress-bar-striped" 
                                            role="progressbar" 
                                            [style.width]="progreso+'%'" 
                                            attr.aria-valuenow="{{progreso}}" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100"> {{progreso}} % </div>
                                    </div>
                                }
        
        
                            </div>
                            <div class="col-sm">
                                @if (cliente?.foto) {
                                    <img src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
                                }
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
}