
<nav aria-label="Page navigation example">
    @if (paginas?.length > 0) {
        <ul class="pagination">
            <li class="page-item" [class]="paginator.first ? 'disabled' : ''">
                <a class="page-link" [routerLink]="[url, 0]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" [class]="paginator.first ? 'disabled' : ''" [routerLink]="[url, paginator.number - 1]"><</a>
            </li>
            
            @for (numPage of paginas; track $index) {
                <li class="page-item">
                    <a class="page-link"
                        [class]="numPage - 1 == paginator.number ? 'disabled' : ''" 
                        [routerLink]="[url, numPage-1]" 
                        routerLinkActive="routerLinkActive">
                        {{numPage }}
                    </a>
                </li>
            }
            <li class="page-item" [class]="paginator.last ? 'disabled' : ''">
                <a class="page-link" [routerLink]="[url, paginator.number + 1]">></a>
            </li>
            <li class="page-item" [class]="paginator.last ? 'disabled' : ''">
                <a class="page-link" [routerLink]="[url, paginator.totalPages-1]" aria-label="Next">
                <span class="sr-only">&raquo;</span>
                </a>
            </li>
        </ul>
    }
  </nav>